.modal-wrapper {
    // position: absolute;
    width: 600px;
    height: 900px;
    // display: flex;
    // flex-direction: column;
    text-align: center;
    // justify-content: center;
    h2 {
        margin: 4rem 0 2rem;
    }
    #items-list {
        font-size: 14px;
        box-shadow: 1px 1px 4px;
        li {
            margin: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 1px 1px 4px;
            padding: 5px;
            .show-quantity {
                font-size: 1.3rem;
                padding: 0.5rem;
            }
        }
    }
    #total-price {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 600;
    }
}

.modal-wrapper::backdrop {
    backdrop-filter: blur(5px);
}
