.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
    justify-content: center;

    // margin: 15px 0px;
    .item-container {
        width: 180px;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 12px 8px;
        box-shadow: 1px 1px 5px;
        img {
            width: 80px;
            height: 80px;
        }
        .item-container__title {
            font-size: 1rem;
        }
        .item-container__dsc {
            font-size: 13px;
        }
        .item-container__price {
            font-size: 12px;
            font-weight: 600;
        }
    }
}
