.content {
	background-color: #ffffffc7;
	border-radius: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;

	&__heading {
		font-size: 3rem;
	}

	&__text {
		letter-spacing: 1px;
		line-height: 25px;
		font-size: 1.2rem;
	}
}
