.main-wrapper {
	background: url('./img/background.png');
	background-position: center;
	background-size: contain;
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

.header, .footer {
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
	color: #fff;

	h1 {
		margin: 1.3rem;
	}
}
