.main-wrapper {
    background: url(/img/background.png);
    background-position: center;
    background-size: contain;
    height: 900px;
    .contain-wrapper {
        background-color: #ffffffc7;
        border-radius: 1.6rem;
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    color: #fff;
    h1 {
        margin: 1.3rem;
    }
}

#aboutUs {
    h3 {
        margin: 1rem;
        font-size: 3rem;
    }
    p {
        margin: 3rem;
        letter-spacing: 1px;
        line-height: 25px;
        font-size: 1.2rem;
    }
}
